# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea

# Grunt and build
dest
node_modules
src/app/js/commands.js
src/app/help/help.html
src/app/help/complex_help.html

# Generated HTML doc
doc/jsdoc

# old lib path
src/lib

# new lib path
src/vendor
