#debugger_table {
    width: 100%;
}
#debugger_table td {
    vertical-align: top;
}
.width50 {
    width: 50%;
}

.height50 {
    height: 50%;
}

.debuggertoolbar {
    margin-bottom: 5px;
}

#debugger-tabs {
    position: relative;
}

#debugger-tabs .tab-content {
    height: calc(100% - 37px);
    width: calc(100% - 1.5px);
    position: absolute;
    left: 1px;
}

#debugger-tabs .tab-content > .tab-pane {
    height: 100%;
}

#debugger-tabs-debug > pre {
    height: calc(100% - 30px);
    margin: 0;
    border-radius: 0;
    border-top: none;
}

#debugger-tabs-debug > .btn {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}