#debugger_table {
    width: 100%;
}
#debugger_table td {
    vertical-align: top;
}
.width50 {
    width: 50%;
}

.height50 {
    height: 50%;
}

.debuggertoolbar {
    margin-bottom: 5px;
}

#debugger_editor_wrapper .CodeMirror-code > div > .line-active.CodeMirror-linebackground {
    background-color: rgba(0, 0, 0, 0.05);
}

#debuggercontent {
    height: calc(100% - 10px);
}

#debuggercontent > * {
    width: 50%;
    height: 100%;

    vertical-align: top;
    display: inline-block !important;
}

#debuggercontent-right > * {
    height: 50%;
}

#debugger-tabs {
    height: calc(100% - 60px);
}

#debugger-tabs > * {
    height: 100%;
}

#debugger-tabs-debug > pre {
    height: calc(100% - 30px);
    margin-bottom: 10px;

    overflow: scroll;

    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#debugger-tabs-debug-clear {
    float: right;
}

#debugger-tabs-ram > .bytedump,
#debugger-tabs-rom > .bytedump {
    height: 100%;
    overflow: scroll;

    font-size: 1.5em;
}

.bytedump > .byterow {
    display: block;
    font-family: monospace;
}

.bytedump > .byterow > .offset,
.bytedump > .byterow > .bytes {
    display: inline-block;
}

.bytedump > .byterow > .offset {
    margin-right: 0.7em;
    margin-left: 0.3em;

    padding-right: 0.3em;

    text-align: right;
    border-right: solid gray 1px;
}

.bytedump > .byterow > .bytes > * {
    width: 1.5em;
    display: inline-block;
}

.bytedump > .byterow > .bytes > *:before {
    content: '\0a';
}