#debugger_table {
    width: 100%;
}
#debugger_table td {
    vertical-align: top;
}
.width50 {
    width: 50%;
}

.height50 {
    height: 50%;
}

.debuggertoolbar {
    margin-bottom: 5px;
}

#debugger_statusWrapper {
    font-weight: bold;
}

#debugger_statusWrapper.statusGood {
    color: rgb(0, 255, 0);
}

#debugger_statusWrapper.statusNotSoGood {
    color: rgb(255, 200, 0);
}

#debugger_statusWrapper.statusBad {
    color: rgb(255, 0, 0);
}

#debugger_editor_wrapper {
    height: 100%;
}

#debugger_editor_wrapper .CodeMirror-code > div > .line-active.CodeMirror-linebackground {
    background-color: rgba(0, 0, 0, 0.1);
}

#debuggercontent {
    height: 100%;
    padding-bottom: 10px;
}

#debuggercontent > * {
    width: 50%;
    height: 100%;

    vertical-align: top;
    display: inline-block !important;
}

#debuggercontent-right > * {
    height: 50%;
}

#debuggercontent-right > .dbgTabsWrapper {
    padding-bottom: 36px;
}

#debugger-tabs {
    height: 100%;
}

#debugger-tabs > * {
    height: 100%;
    position: relative;
}

#debugger-tabs-debug > pre {
    height: calc(100% - 1em - 18px);
    margin-bottom: 10px;

    overflow: scroll;

    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.debugger-tabs-debug-clear {
    float: right;
}

#debugger-tabs-ram > .bytedump,
#debugger-tabs-rom > .bytedump {
    height: 100%;
    overflow: scroll;

    font-size: 1.5em;
}

.bytedump > .byterow {
    display: block;
    font-family: monospace;
}

.bytedump > .byterow > .offset,
.bytedump > .byterow > .bytes {
    display: inline-block;
}

.bytedump > .byterow > .offset {
    margin-right: 0.7em;
    margin-left: 0.3em;

    padding-right: 0.3em;

    text-align: right;
    border-right: solid gray 1px;
}

.bytedump > .byterow > .bytes > * {
    width: 1.5em;
    display: inline-block;
}

.bytedump > .byterow > .bytes > *:before {
    content: '\0a';
}

#debugger-tabs-registers > * {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.registers {
    width: calc(100% - 80px);
}

#debugger-tabs .numberFormat {
    margin-right: 10px;

    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.registers > .heading,
.registers > .snapshots {
    font-size: 1.5em;
    font-family: monospace;
}

.registers > .heading {
    font-weight: bold;
    margin-left: 2.7em;
    border-bottom: solid black 2px;
}

.registers > .heading *:first-child {
    padding-left: 0.6em;
}

.registers > .heading > *,
.registers > .snapshots > div > * {
    display: inline-block;
}

.registers > .snapshots {
    height: calc(100% - 2em - 7px);
    overflow-y: scroll;
}

.registers > .snapshots > div {
    border-bottom: dashed black 1px;
}

.registers .number {
    width: 2.8em;
    border-right: solid black 2px;
    text-align: right;
    padding-right: 5px;
}

.registers > .snapshots > div > *:nth-child(2) {
    padding-left: 0.5em;
}

.registers .changed {
    color: red;
}

.registers .flag {
    width: 2em;
}

.registers .flag:last-of-type {
    margin-right: 1em;
}

.registers .pointer {
    width: 3em;
}

.registers .pointer:last-of-type {
    margin-right: 1em;
}

.registers.format-hex .register.byte { width: 2em; }
.registers.format-hex .register.word { width: 3em; }

.registers.format-dec .register.byte { width: 3em; }
.registers.format-dec .register.word { width: 5em; }

.registers.format-bin .register.byte { width: 6em; }
.registers.format-bin .register.word { width: 10em; }

.stack {
    width: 80px;
}

.stack > pre {
    height: calc(100% - 1em);
    overflow-y: scroll;
}

#debugger-tabs-breakpoints {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

table.breakpoints {
    width: 100%;
    font-size: 10px;
}

table.breakpoints tr.hit {
    background-color: rgba(255, 0, 0, 0.1) !important;
}

table.breakpoints tr.inactive {
    background-color: rgba(200, 200, 200, 0.1);
}

table.breakpoints th.break-line {
    width: 60px;
    text-align: right;
}

table.breakpoints th.break-condition {
}

table.breakpoints th.break-active {
    width: 55px;
}

table.breakpoints td {
    vertical-align: middle !important;
}

table.breakpoints td.break-line {
    text-align: right;

    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

table.breakpoints td.break-line.none {
    cursor: inherit;
    color: inherit;
    text-decoration: inherit;
}

table.breakpoints td.break-condition {
    font-family: monospace;
}

table.breakpoints td.break-active {
}

.debuggerTabOverlay {
    height: 100%;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.2);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3em;
    display: table !important;
}

.tab-pane:hover > .debuggerTabOverlay {
    visibility: hidden;
}

.debuggerTabOverlay.break {
    display: none !important;
}

.debuggerTabOverlay > p {
    display: table-cell;
    vertical-align: middle;
}

/* Fix Scale bug */
#hardwarecontainer {
    min-height: 100px;
}

/* Fix Text orientation in Register Tooltip for debugger */
#debugger_editor_wrapper .tooltip-inner {
    text-align: left !important;
} 