.doctool > .command > .params > ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.doctool > .command > .params > ul > li {
    display: inline-block;
}

.doctool > .command > .params > ul > li:after {
    content: ",\a0";
}

.doctool > .command > .params > ul > li:last-child:after {
    content: "";
}